.hero-sc{
    height: 550px;
}

.hero-text{
    padding-top: 150px;
}

.hero-img{
    padding: 110px 100px;
}


@media only screen and (max-width: 600px) {
    .hero-sc{
        height: 1000px;
    }
}