.hero-sc{
    height: 550px;
}

.hero-text{
    padding-top: 150px;
}

.hero-img{
    padding: 110px 230px;
}


@media only screen and (max-width: 600px) {
    .hero-sc{
        height: 1000px;
    }

    .hero-img{
        padding: 10px 0px;
        margin: 0;
    }

    .hero-text{
        padding-top: 10px;
    }

    .hero-infographic{
        height: 150px;
        padding: 0;
    }
    
}